[submodule "vendor/nerdtree"]
	path = vendor/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "vendor/lsp"]
	path = vendor/lsp
	url = https://github.com/yegappan/lsp
[submodule "vendor/vimspector"]
	path = vendor/vimspector
	url = https://github.com/puremourning/vimspector
[submodule "vendor/vim-airline"]
	path = vendor/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vendor/vim-commentary"]
	path = vendor/vim-commentary
	url = https://tpope.io/vim/commentary.git
