[submodule "vendor/nerdtree"]
	path = vendor/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "vendor/lsp"]
	path = vendor/lsp
	url = https://github.com/yegappan/lsp
[submodule "vendor/vimspector"]
	path = vendor/vimspector
	url = https://github.com/puremourning/vimspector
