[user]
	name = rlongstaff
	email = rob@longstaff.us
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log -p
[push]
	default = simple
[credential "https://source.developers.google.com"]
	helper = gcloud.sh
[init]
	defaultBranch = main
[pull]
	ff = only

# git clone -b <remoteBranch> --single-branch --depth 1 ssh://username@servername.net:serverport/PathToProject <FolderName>
# git clone -b <remoteBranch> --single-branch --depth 1 https://github.com/mozilla-firefox/firefox.git <FolderName>
